/*Seccion de contactos*/
.sytle-text-form {
    font-size: $font-size-medium;
    font-family: "Cabin", sans-serif;
    font-weight: $font-weight-regular;
}

.white {
    color: $color-white !important;
}