/*Seccion quienes somos*/
.title-style {
    font-size: 25px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.border {
    border-radius: 3%;
}
