// Variables de color
$color-background: black;
$color-white: #ffffff;
$color-opacity-white: rgba(255, 255, 255, 0);
$color-link: rgba(255, 255, 255, 0.7);

// Fuente de letra: Open Sans
$font-family-primary: 'Open Sans', sans-serif;

// Tamaños de fuente
$font-weight-regular: 400;
$font-weight-bold: 700;

// Tamaños de fuente
$font-size-xs: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-largexl: 20px;